# ML & Data Science 
# CPU only: transformers + torch
# other ways m1/m2: conda install pytorch::pytorch torchvision torchaudio -c pytorch
transformers[torch]
faiss-cpu
sentence-transformers
numpy==1.23.5
scipy
pandas
openai
python-Levenshtein
k-means-constrained # for constrained clustering

# flask
flask
flask-cors

# Utils
python-dotenv
requests